* {
z-index: 1;
}
.m-page {
padding: 15px;
min-height: 400px;
}
.grey-bg {
background-color: #404040;
color: white;
}
.red-bg {
color: white;
background-color: #fa5c4f;
}

/**
 * fixed ionic css
 */
.bar.bar-dark {
width: 100%;
}
.bar {
padding: 5px !important;
}